{:paths ["src" "resources"]
 :deps
 {flub/core           {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "core"}
  flub/components     {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "components"}
  flub/crux           {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "crux"}
  flub/extra          {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "extra"}
  flub/malli          {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "malli"}
  flub/middleware     {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "middleware"}
  flub/views          {:git/url "https://github.com/jacobobryant/flub" :sha "ba56f13389d5b3ca4c930871deddb9d97e6a33f0" :deps/root "views"}
  girouette/girouette {;:local/root "../girouette/lib/girouette"
                       :git/url "https://github.com/jacobobryant/girouette"
                       :sha "4d4686c919ba10a5f8cd449f1ebcfef2c3a55ce5"
                       :deps/root "lib/girouette"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}

 :aliases
 {:girouette {:extra-deps {girouette/processor
                           {;:local/root "../girouette/lib/processor"
                            :git/url "https://github.com/jacobobryant/girouette"
                            :sha "4d4686c919ba10a5f8cd449f1ebcfef2c3a55ce5"
                            :deps/root "lib/processor"}}
              :ns-default girouette.processor
              :exec-fn process
              :exec-args {:css {:output-file "resources/public/css/main.css"}
                          :garden-fn hub.css/class-name->garden
                          :apply-classes hub.css/apply-classes
                          :watch? true}}}}
