{:paths ["src" "resources" "target/resources"]
 :deps
 {flub/components     {:git/url "https://github.com/jacobobryant/flub" :sha "4fda7386ec2e1d08ce7c695df593c18b5732d420" :deps/root "components"}
  flub/crux           {:git/url "https://github.com/jacobobryant/flub" :sha "4fda7386ec2e1d08ce7c695df593c18b5732d420" :deps/root "crux"}
  flub/extra          {:git/url "https://github.com/jacobobryant/flub" :sha "4fda7386ec2e1d08ce7c695df593c18b5732d420" :deps/root "extra"}
  flub/middleware     {:git/url "https://github.com/jacobobryant/flub" :sha "4fda7386ec2e1d08ce7c695df593c18b5732d420" :deps/root "middleware"}
  flub/views          {:git/url "https://github.com/jacobobryant/flub" :sha "4fda7386ec2e1d08ce7c695df593c18b5732d420" :deps/root "views"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}

 :aliases
 {:test {:extra-paths ["test"]
         :ns-default hub.tests.core
         :exec-fn run}
  :girouette {:extra-paths ["src-girouette"]
              :extra-deps {girouette/processor
                           {;:local/root "../girouette/lib/processor"
                            :git/url "https://github.com/jacobobryant/girouette"
                            :sha "4d4686c919ba10a5f8cd449f1ebcfef2c3a55ce5"
                            :deps/root "lib/processor"}
                           girouette/girouette
                           {;:local/root "../girouette/lib/girouette"
                            :git/url "https://github.com/jacobobryant/girouette"
                            :sha "4d4686c919ba10a5f8cd449f1ebcfef2c3a55ce5"
                            :deps/root "lib/girouette"}}
              :ns-default girouette.processor
              :exec-fn process
              :exec-args {:css {:output-file "target/resources/public/css/main.css"}
                          :garden-fn hub.girouette/class-name->garden
                          :apply-classes hub.css/apply-classes
                          :watch? true}}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :verbose true
                        :main-class hub.core
                        :jar "target/app.jar"}}}}
